<h1>Listing dives</h1>

<table>
  <thead>
    <tr>
      <th>Dive number</th>
      <th>Depth</th>
      <th>Pressure group</th>
      <th>Weight</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dives.each do |dive| %>
      <tr>
        <td><%= dive.dive_number %></td>
        <td><%= dive.depth %></td>
        <td><%= dive.pressure_group %></td>
        <td><%= dive.weight %></td>
        <td><%= link_to 'Show', dive %></td>
        <td><%= link_to 'Edit', edit_dive_path(dive) %></td>
        <td><%= link_to 'Destroy', dive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dive', new_dive_path %>
