<p id="notice"><%= notice %></p>

<p>
  <strong>Dive number:</strong>
  <%= @dive.dive_number %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @dive.depth %>
</p>

<p>
  <strong>Pressure group:</strong>
  <%= @dive.pressure_group %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @dive.weight %>
</p>

<%= link_to 'Edit', edit_dive_path(@dive) %> |
<%= link_to 'Back', dives_path %>
