<h1>Your Dives Overview</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Dive Number</th>
      <th>Depth</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dives.each do |dive| %>
      <tr data-link="<%= dive_path(dive) %>">
        <td><%= dive.dive_number %></td>
        <td><%= dive.depth %></td>
        <td>Somewhere Awesome</td>
        <td><%= link_to 'Show', dive %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dive', new_dive_path %>
<%= javascript_include_tag "dives" %>

